.rank-list {
  margin-top: 40px;
}

.rank-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  height: 200px;
  gap: 16px;
  padding: 5px;
  border-radius: 16px;
}
.rank-item-cover {
  display: flex;
  align-items: center;
}
.rank-item-rank {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.rank-item-content {
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
